.information {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.input_info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    flex-direction: column;
}