.information {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}

.input_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
}

.object_one, .object_two, .distance_info, .grav_formula_container {
    background-color: white;
    border: 5px;
    border-style: ridge;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mass_2_button, .mass_1_button, .distance_button {
   height: auto;
   width: auto;
   border-color: black; 
   margin: 5px;
}

.object_one_mass, .object_two_mass, .object_distance, .mass_one, .mass_two, .distance_input, .output{
    display: flex;
    justify-content: center;
    font-size: 30px;
    border: 5px;
    border-style: ridge;
    color: white;
    background-color: black;
    min-height: 40px;
    min-width: 60px;
}

.directions {
    margin: 20px;
    text-align: center;
}

.output_info_one, .output_info_two, .distance_info_screen {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.numerator, .denominator, .output_side {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 0px;
    margin-top: 0px;
}

.operand_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divisor_line, .mass_one, .mass_two, .distance_input {
    margin-top: 0px;
    margin-bottom: 0px;
}

.grav_formula {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc_button {
    height: auto;
    width: auto;
    border-color: black; 
    border-width: 5px;
    margin: 5px;
    width: 150px;
    height: 75px;
    font-size: x-large;
}